table {
  margin: 0 auto
}

canvas {
  width: 800px;
  background-color: black;
}

.sidebar {
  padding-left: 20px;
}

.sidebar img {
  width: 80px;
  height: 80px;
  margin: 20px 0px;
  display: block
}
