body {
  font-family: 'VT323', monospace;
  background-image: url("../img/floral-bg.jpg");
  background-size: cover
}

.jumbotron {
  padding: 20px 40px;
  background-color: black;
  background-size: cover;
  color: white
}

h1 {
  font-size: 32
}

.main {
  display: inline-block;
  width: 900px;
  margin: 0 auto;
}

.main * {
  display: inline-block;
  height: 400px;
}

canvas {
  width: 800px;
  border-style: solid;
  border-width: medium;
  border-color: grey;
  background-color: black;
  float: left;
}

.sidebar {
  padding-left: 20px;
}
