body {
  font-family: 'VT323', monospace;
  background-image: url("../img/floral-bg.jpg");
  background-size: cover
}

.jumbotron {
  padding: 20px 40px;
  background-color: black;
  background-size: cover;
  color: white
}

h1 {
  font-size: 32
}

canvas {
  border-style: solid;
  border-width: medium;
  border-color: grey;
  display: block;
  margin: auto
}
